In [1]:
import pandas as pd
import pymysql
from symbol import classdef
import numpy as np
import copy
con = pymysql.connect(host="localhost",user="root",password="whc000829",db="views")

sql = "SELECT Country, Year, COUNT(*) as nums FROM views.pulsar_2 WHERE Victims <> '' AND Country = 'Ethiopia' OR Country = 'Tanzania' OR Country = 'Egypt' GROUP BY Country, Year"
data_sql=pd.read_sql(sql,con)
data_sql.to_csv("test2.csv")
df_test1 = pd.read_csv('test2.csv')
df_test1.drop([len(df_test1)-1],inplace=True)

df_test1['Num_mean'] = None
df_test1['Bmean']= None

df_test1['Num_median'] = None
df_test1['Bmedian']= None

df_test1['Num_max']= None
df_test1['Bmax']= None

df_test1['Num_min']= None
df_test1['Bmin']= None

df_test2 = df_test1.drop(df_test1.columns[[0]], axis=1)

/opt/homebrew/anaconda3/envs/2100/lib/python3.8/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [2]:
dfX6 = pd.read_csv('X6mo_data.csv')
X6_output = dfX6[['year','country_name','incidence_civil_ns','incidence_civil_ns_alt1','incidence_civil_ns_alt2']].copy()
X6_output = X6_output.dropna()
X6_output = X6_output.reset_index()
X6_output = X6_output.drop(X6_output.columns[[0]], axis=1)
X6_output.rename(columns={'country_name':'Country', 'year':'Year'}, inplace = True)
X6_output = X6_output.groupby(['Country','Year']).agg('sum')
X6_output.reset_index(inplace = True)
dfmerge = pd.merge(X6_output,df_test2, on=['Country','Year'], how = "inner")

In [3]:
pd.set_option('display.max_rows', None)
dfmerge

,Country,Year,incidence_civil_ns,incidence_civil_ns_alt1,incidence_civil_ns_alt2,nums,Num_mean,Bmean,Num_median,Bmedian,Num_max,Bmax,Num_min,Bmin
0,Egypt,2001,0.0,0.0,0.0,777,None,None,None,None,None,None,None,None
1,Egypt,2002,0.0,0.0,0.0,690,None,None,None,None,None,None,None,None
2,Egypt,2003,0.0,0.0,0.0,867,None,None,None,None,None,None,None,None
3,Egypt,2004,0.0,0.0,0.0,849,None,None,None,None,None,None,None,None
4,Egypt,2005,0.0,0.0,0.0,929,None,None,None,None,None,None,None,None
5,Egypt,2006,0.0,0.0,0.0,980,None,None,None,None,None,None,None,None
6,Egypt,2007,0.0,0.0,0.0,980,None,None,None,None,None,None,None,None
7,Egypt,2008,0.0,0.0,0.0,750,None,None,None,None,None,None,None,None
8,Egypt,2009,0.0,0.0,0.0,266,None,None,None,None,None,None,None,None
9,Egypt,2010,0.0,0.0,0.0,594,None,None,None,None,None,None,None,None
10,Egypt,2011,0.0,0.0,0.0,598,None,None,None,None,None,None,None,None
11,Egypt,2012,0.0,0.0,0.0,656,None,None,None,None,None,None,None,None
12,Egypt,2013,0.0,0.0,0.0,786,None,None,None,None,None,None,None,None
13,Egypt,2014,0.0,0.0,0.0,830,None,None,None,None,None,None,None,None
14,Ethiopia,2012,0.0,0.0,0.0,99,None,None,None,None,None,None,None,None
15,Ethiopia,2013,0.0,0.0,0.0,108,None,None,None,None,None,None,None,None
16,Ethiopia,2014,0.0,0.0,0.0,111,None,None,None,None,None,None,None,None
17,Ethiopia,2015,0.0,0.0,0.0,107,None,None,None,None,None,None,None,None
18,Tanzania,2001,0.0,0.0,0.0,751,None,None,None,None,None,None,None,None
19,Tanzania,2002,0.0,0.0,0.0,625,None,None,None,None,None,None,None,None
20,Tanzania,2003,0.0,0.0,0.0,659,None,None,None,None,None,None,None,None
21,Tanzania,2004,0.0,0.0,0.0,876,None,None,None,None,None,None,None,None
22,Tanzania,2005,0.0,0.0,0.0,870,None,None,None,None,None,None,None,None
23,Tanzania,2006,0.0,0.0,0.0,820,None,None,None,None,None,None,None,None
24,Tanzania,2007,0.0,0.0,0.0,726,None,None,None,None,None,None,None,None
25,Tanzania,2008,0.0,0.0,0.0,635,None,None,None,None,None,None,None,None
26,Tanzania,2009,0.0,0.0,0.0,770,None,None,None,None,None,None,None,None
27,Tanzania,2010,0.0,0.0,0.0,788,None,None,None,None,None,None,None,None
28,Tanzania,2011,0.0,0.0,0.0,842,None,None,None,None,None,None,None,None
29,Tanzania,2012,0.0,0.0,0.0,891,None,None,None,None,None,None,None,None
30,Tanzania,2013,0.0,0.0,0.0,847,None,None,None,None,None,None,None,None
31,Tanzania,2014,0.0,0.0,0.0,791,None,None,None,None,None,None,None,None
32,Tanzania,2015,0.0,0.0,0.0,766,None,None,None,None,None,None,None,None

In [4]:
country_list = list(set(dfmerge['Country'].values.tolist()))

In [5]:
country_list

['Egypt', 'Tanzania', 'Ethiopia']

In [6]:
#create a dictionary about country and year appeared.
country_year={}
for country in country_list:
    year = np.array(dfmerge['Year'].loc[dfmerge['Country'] == country])
    country_year[country] = year

In [7]:
for i in country_year['Egypt']:
    print(i)

2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014

In [8]:
#aa.reshape(-1,1)

In [9]:
#year_list = list(set(dfmerge['Year'].values.tolist()))

In [10]:
#create three table
#names = locals()
#Country = ['Ethiopia','Tanzania','Egypt']
#for year in year_list:
    #for coun in Country:
        #names['df_curr'+str(year)+str(coun)] = dfmerge.loc[(dfmerge['Year'] == year)&(dfmerge['Country'] == coun)].copy()
        #names['df_others'+str(year)+str(coun)] = dfmerge.loc[(dfmerge['Year'] != year) | (dfmerge['Country'] != coun)].copy()
        #remain self_country to df_curr and reolace 'others' to df_others table
        #(names['df_others'+str(year)+str(coun)])['Year'] = 'Others'
        #(names['df_others'+str(year)+str(coun)])['Country'] = 'Others'

In [11]:
#create three table
names = locals()
Country = ['Ethiopia','Tanzania','Egypt']
for coun in Country:
    for year in country_year[coun]:
        names['df_curr'+str(year)+str(coun)] = dfmerge.loc[(dfmerge['Year'] == year)&(dfmerge['Country'] == coun)].copy()
        names['df_others'+str(year)+str(coun)] = dfmerge.loc[(dfmerge['Year'] != year) | (dfmerge['Country'] != coun)].copy()
        #remain self_country to df_curr and reolace 'others' to df_others table
        (names['df_others'+str(year)+str(coun)])['Year'] = 'Others'
        (names['df_others'+str(year)+str(coun)])['Country'] = 'Others'

In [12]:
#len(dfmerge['Year'].values.tolist())

In [13]:
#year_list = list(set(dfmerge['Year'].values.tolist()))

In [14]:
#year_list[0]

In [15]:
#year_list[-1]

In [16]:
#(np.array(year_list)).shape

In [17]:
#list(dfmerge['Year'])

In [18]:
#create a year-country list without data
#year_self_pd = []
#year_others_pd = []
#for i in year_list:
    #for coun in Country:
        #year_self_pd.append(names['df_curr'+str(i)+str(coun)])

        #year_others_pd.append(names['df_others'+str(i)+str(coun)])

In [19]:
year_self_pd = []
year_others_pd = []
for coun in Country:
    for i in country_year[coun]:
        year_self_pd.append(names['df_curr'+str(i)+str(coun)])
        year_others_pd.append(names['df_others'+str(i)+str(coun)])

In [20]:
year_self_pd[0]

,Country,Year,incidence_civil_ns,incidence_civil_ns_alt1,incidence_civil_ns_alt2,nums,Num_mean,Bmean,Num_median,Bmedian,Num_max,Bmax,Num_min,Bmin
14,Ethiopia,2012,0.0,0.0,0.0,99,None,None,None,None,None,None,None,None

In [21]:
df_curr2012Ethiopia

,Country,Year,incidence_civil_ns,incidence_civil_ns_alt1,incidence_civil_ns_alt2,nums,Num_mean,Bmean,Num_median,Bmedian,Num_max,Bmax,Num_min,Bmin
14,Ethiopia,2012,0.0,0.0,0.0,99,None,None,None,None,None,None,None,None

In [22]:
year_others_pd[0]

,Country,Year,incidence_civil_ns,incidence_civil_ns_alt1,incidence_civil_ns_alt2,nums,Num_mean,Bmean,Num_median,Bmedian,Num_max,Bmax,Num_min,Bmin
0,Others,Others,0.0,0.0,0.0,777,None,None,None,None,None,None,None,None
1,Others,Others,0.0,0.0,0.0,690,None,None,None,None,None,None,None,None
2,Others,Others,0.0,0.0,0.0,867,None,None,None,None,None,None,None,None
3,Others,Others,0.0,0.0,0.0,849,None,None,None,None,None,None,None,None
4,Others,Others,0.0,0.0,0.0,929,None,None,None,None,None,None,None,None
5,Others,Others,0.0,0.0,0.0,980,None,None,None,None,None,None,None,None
6,Others,Others,0.0,0.0,0.0,980,None,None,None,None,None,None,None,None
7,Others,Others,0.0,0.0,0.0,750,None,None,None,None,None,None,None,None
8,Others,Others,0.0,0.0,0.0,266,None,None,None,None,None,None,None,None
9,Others,Others,0.0,0.0,0.0,594,None,None,None,None,None,None,None,None
10,Others,Others,0.0,0.0,0.0,598,None,None,None,None,None,None,None,None
11,Others,Others,0.0,0.0,0.0,656,None,None,None,None,None,None,None,None
12,Others,Others,0.0,0.0,0.0,786,None,None,None,None,None,None,None,None
13,Others,Others,0.0,0.0,0.0,830,None,None,None,None,None,None,None,None
15,Others,Others,0.0,0.0,0.0,108,None,None,None,None,None,None,None,None
16,Others,Others,0.0,0.0,0.0,111,None,None,None,None,None,None,None,None
17,Others,Others,0.0,0.0,0.0,107,None,None,None,None,None,None,None,None
18,Others,Others,0.0,0.0,0.0,751,None,None,None,None,None,None,None,None
19,Others,Others,0.0,0.0,0.0,625,None,None,None,None,None,None,None,None
20,Others,Others,0.0,0.0,0.0,659,None,None,None,None,None,None,None,None
21,Others,Others,0.0,0.0,0.0,876,None,None,None,None,None,None,None,None
22,Others,Others,0.0,0.0,0.0,870,None,None,None,None,None,None,None,None
23,Others,Others,0.0,0.0,0.0,820,None,None,None,None,None,None,None,None
24,Others,Others,0.0,0.0,0.0,726,None,None,None,None,None,None,None,None
25,Others,Others,0.0,0.0,0.0,635,None,None,None,None,None,None,None,None
26,Others,Others,0.0,0.0,0.0,770,None,None,None,None,None,None,None,None
27,Others,Others,0.0,0.0,0.0,788,None,None,None,None,None,None,None,None
28,Others,Others,0.0,0.0,0.0,842,None,None,None,None,None,None,None,None
29,Others,Others,0.0,0.0,0.0,891,None,None,None,None,None,None,None,None
30,Others,Others,0.0,0.0,0.0,847,None,None,None,None,None,None,None,None
31,Others,Others,0.0,0.0,0.0,791,None,None,None,None,None,None,None,None
32,Others,Others,0.0,0.0,0.0,766,None,None,None,None,None,None,None,None

In [23]:
df_others2012Ethiopia

,Country,Year,incidence_civil_ns,incidence_civil_ns_alt1,incidence_civil_ns_alt2,nums,Num_mean,Bmean,Num_median,Bmedian,Num_max,Bmax,Num_min,Bmin
0,Others,Others,0.0,0.0,0.0,777,None,None,None,None,None,None,None,None
1,Others,Others,0.0,0.0,0.0,690,None,None,None,None,None,None,None,None
2,Others,Others,0.0,0.0,0.0,867,None,None,None,None,None,None,None,None
3,Others,Others,0.0,0.0,0.0,849,None,None,None,None,None,None,None,None
4,Others,Others,0.0,0.0,0.0,929,None,None,None,None,None,None,None,None
5,Others,Others,0.0,0.0,0.0,980,None,None,None,None,None,None,None,None
6,Others,Others,0.0,0.0,0.0,980,None,None,None,None,None,None,None,None
7,Others,Others,0.0,0.0,0.0,750,None,None,None,None,None,None,None,None
8,Others,Others,0.0,0.0,0.0,266,None,None,None,None,None,None,None,None
9,Others,Others,0.0,0.0,0.0,594,None,None,None,None,None,None,None,None
10,Others,Others,0.0,0.0,0.0,598,None,None,None,None,None,None,None,None
11,Others,Others,0.0,0.0,0.0,656,None,None,None,None,None,None,None,None
12,Others,Others,0.0,0.0,0.0,786,None,None,None,None,None,None,None,None
13,Others,Others,0.0,0.0,0.0,830,None,None,None,None,None,None,None,None
15,Others,Others,0.0,0.0,0.0,108,None,None,None,None,None,None,None,None
16,Others,Others,0.0,0.0,0.0,111,None,None,None,None,None,None,None,None
17,Others,Others,0.0,0.0,0.0,107,None,None,None,None,None,None,None,None
18,Others,Others,0.0,0.0,0.0,751,None,None,None,None,None,None,None,None
19,Others,Others,0.0,0.0,0.0,625,None,None,None,None,None,None,None,None
20,Others,Others,0.0,0.0,0.0,659,None,None,None,None,None,None,None,None
21,Others,Others,0.0,0.0,0.0,876,None,None,None,None,None,None,None,None
22,Others,Others,0.0,0.0,0.0,870,None,None,None,None,None,None,None,None
23,Others,Others,0.0,0.0,0.0,820,None,None,None,None,None,None,None,None
24,Others,Others,0.0,0.0,0.0,726,None,None,None,None,None,None,None,None
25,Others,Others,0.0,0.0,0.0,635,None,None,None,None,None,None,None,None
26,Others,Others,0.0,0.0,0.0,770,None,None,None,None,None,None,None,None
27,Others,Others,0.0,0.0,0.0,788,None,None,None,None,None,None,None,None
28,Others,Others,0.0,0.0,0.0,842,None,None,None,None,None,None,None,None
29,Others,Others,0.0,0.0,0.0,891,None,None,None,None,None,None,None,None
30,Others,Others,0.0,0.0,0.0,847,None,None,None,None,None,None,None,None
31,Others,Others,0.0,0.0,0.0,791,None,None,None,None,None,None,None,None
32,Others,Others,0.0,0.0,0.0,766,None,None,None,None,None,None,None,None

In [24]:
len(year_self_pd)

33

In [25]:
#fill data in 'others' table
for a in year_others_pd:
    Num_mean = a.nums.mean()
    a['Num_mean'] = Num_mean
    for i in range(len(a)):
        if a.iloc[i,5] >= Num_mean:
            a.iloc[i,7] = 1
        else:
            a.iloc[i,7] = 0

for a in year_others_pd:
    Num_median = a.nums.median()
    a['Num_median'] = Num_median
    for i in range(len(a)):
        if a.iloc[i,5] >= Num_median:
            a.iloc[i,9] = 1
        else:
            a.iloc[i,9] = 0

for a in year_others_pd:
    Num_max = a.nums.max()
    a['Num_max'] = Num_max
    for i in range(len(a)):
        if a.iloc[i,5] >= Num_max:
            a.iloc[i,11] = 1
        else:
            a.iloc[i,11] = 0
            
for a in year_others_pd:
    Num_min = a.nums.min()
    a['Num_min'] = Num_min
    for i in range(len(a)):
        if a.iloc[i,5] <= Num_min:
            a.iloc[i,13] = 1
        else:
            a.iloc[i,13] = 0

In [26]:
range(len(year_self_pd))

range(0, 33)

In [27]:
for b in range(len(year_self_pd)):
    #for i in range(year_self_pd[b]):
    if year_self_pd[b].iloc[0,5] >= year_others_pd[b].nums.mean():
        year_self_pd[b].iloc[0,7] = 1
    else:
        year_self_pd[b].iloc[0,7] = 0

for b in range(len(year_self_pd)):
    #for i in range(year_self_pd[b]):
    if year_self_pd[b].iloc[0,5] >= year_others_pd[b].nums.median():
        year_self_pd[b].iloc[0,9] = 1
    else:
        year_self_pd[b].iloc[0,9] = 0

for b in range(len(year_self_pd)):
    #for i in range(year_self_pd[b]):
    if year_self_pd[b].iloc[0,5] >= year_others_pd[b].nums.max():
        year_self_pd[b].iloc[0,11] = 1
    else:
        year_self_pd[b].iloc[0,11] = 0

for b in range(len(year_self_pd)):
    #for i in range(year_self_pd[b]):
    if year_self_pd[b].iloc[0,5] <= year_others_pd[b].nums.min():
        year_self_pd[b].iloc[0,13] = 1
    else:
        year_self_pd[b].iloc[0,13] = 0

In [28]:
for coun in Country:
    for year in country_year[coun]:
        names['df_'+str(year)+str(coun)+'_merge'] = pd.concat([names['df_curr'+str(year)+str(coun)],names['df_others'+str(year)+str(coun)]])

In [29]:
df_2001Egypt_merge

,Country,Year,incidence_civil_ns,incidence_civil_ns_alt1,incidence_civil_ns_alt2,nums,Num_mean,Bmean,Num_median,Bmedian,Num_max,Bmax,Num_min,Bmin
0,Egypt,2001,0.0,0.0,0.0,777,None,1,None,1,None,0,None,0
1,Others,Others,0.0,0.0,0.0,690,683.03125,1,768.0,0,980,0,99,0
2,Others,Others,0.0,0.0,0.0,867,683.03125,1,768.0,1,980,0,99,0
3,Others,Others,0.0,0.0,0.0,849,683.03125,1,768.0,1,980,0,99,0
4,Others,Others,0.0,0.0,0.0,929,683.03125,1,768.0,1,980,0,99,0
5,Others,Others,0.0,0.0,0.0,980,683.03125,1,768.0,1,980,1,99,0
6,Others,Others,0.0,0.0,0.0,980,683.03125,1,768.0,1,980,1,99,0
7,Others,Others,0.0,0.0,0.0,750,683.03125,1,768.0,0,980,0,99,0
8,Others,Others,0.0,0.0,0.0,266,683.03125,0,768.0,0,980,0,99,0
9,Others,Others,0.0,0.0,0.0,594,683.03125,0,768.0,0,980,0,99,0
10,Others,Others,0.0,0.0,0.0,598,683.03125,0,768.0,0,980,0,99,0
11,Others,Others,0.0,0.0,0.0,656,683.03125,0,768.0,0,980,0,99,0
12,Others,Others,0.0,0.0,0.0,786,683.03125,1,768.0,1,980,0,99,0
13,Others,Others,0.0,0.0,0.0,830,683.03125,1,768.0,1,980,0,99,0
14,Others,Others,0.0,0.0,0.0,99,683.03125,0,768.0,0,980,0,99,1
15,Others,Others,0.0,0.0,0.0,108,683.03125,0,768.0,0,980,0,99,0
16,Others,Others,0.0,0.0,0.0,111,683.03125,0,768.0,0,980,0,99,0
17,Others,Others,0.0,0.0,0.0,107,683.03125,0,768.0,0,980,0,99,0
18,Others,Others,0.0,0.0,0.0,751,683.03125,1,768.0,0,980,0,99,0
19,Others,Others,0.0,0.0,0.0,625,683.03125,0,768.0,0,980,0,99,0
20,Others,Others,0.0,0.0,0.0,659,683.03125,0,768.0,0,980,0,99,0
21,Others,Others,0.0,0.0,0.0,876,683.03125,1,768.0,1,980,0,99,0
22,Others,Others,0.0,0.0,0.0,870,683.03125,1,768.0,1,980,0,99,0
23,Others,Others,0.0,0.0,0.0,820,683.03125,1,768.0,1,980,0,99,0
24,Others,Others,0.0,0.0,0.0,726,683.03125,1,768.0,0,980,0,99,0
25,Others,Others,0.0,0.0,0.0,635,683.03125,0,768.0,0,980,0,99,0
26,Others,Others,0.0,0.0,0.0,770,683.03125,1,768.0,1,980,0,99,0
27,Others,Others,0.0,0.0,0.0,788,683.03125,1,768.0,1,980,0,99,0
28,Others,Others,0.0,0.0,0.0,842,683.03125,1,768.0,1,980,0,99,0
29,Others,Others,0.0,0.0,0.0,891,683.03125,1,768.0,1,980,0,99,0
30,Others,Others,0.0,0.0,0.0,847,683.03125,1,768.0,1,980,0,99,0
31,Others,Others,0.0,0.0,0.0,791,683.03125,1,768.0,1,980,0,99,0
32,Others,Others,0.0,0.0,0.0,766,683.03125,1,768.0,0,980,0,99,0

In [30]:
for coun in Country:
    for year in country_year[coun]:
        c = names['df_'+str(year)+str(coun)+'_merge']
        for i in c.index:
            if c.loc[i,'Year'] != 'Others':
                c.loc[i,'Year'] = 1
                c.loc[i,'Country'] = 1
            elif c.loc[i,'Year'] == 'Others':
                c.loc[i,'Year'] = 0
                c.loc[i,'Country'] = 0

In [31]:
df_2001Egypt_merge

,Country,Year,incidence_civil_ns,incidence_civil_ns_alt1,incidence_civil_ns_alt2,nums,Num_mean,Bmean,Num_median,Bmedian,Num_max,Bmax,Num_min,Bmin
0,1,1,0.0,0.0,0.0,777,None,1,None,1,None,0,None,0
1,0,0,0.0,0.0,0.0,690,683.03125,1,768.0,0,980,0,99,0
2,0,0,0.0,0.0,0.0,867,683.03125,1,768.0,1,980,0,99,0
3,0,0,0.0,0.0,0.0,849,683.03125,1,768.0,1,980,0,99,0
4,0,0,0.0,0.0,0.0,929,683.03125,1,768.0,1,980,0,99,0
5,0,0,0.0,0.0,0.0,980,683.03125,1,768.0,1,980,1,99,0
6,0,0,0.0,0.0,0.0,980,683.03125,1,768.0,1,980,1,99,0
7,0,0,0.0,0.0,0.0,750,683.03125,1,768.0,0,980,0,99,0
8,0,0,0.0,0.0,0.0,266,683.03125,0,768.0,0,980,0,99,0
9,0,0,0.0,0.0,0.0,594,683.03125,0,768.0,0,980,0,99,0
10,0,0,0.0,0.0,0.0,598,683.03125,0,768.0,0,980,0,99,0
11,0,0,0.0,0.0,0.0,656,683.03125,0,768.0,0,980,0,99,0
12,0,0,0.0,0.0,0.0,786,683.03125,1,768.0,1,980,0,99,0
13,0,0,0.0,0.0,0.0,830,683.03125,1,768.0,1,980,0,99,0
14,0,0,0.0,0.0,0.0,99,683.03125,0,768.0,0,980,0,99,1
15,0,0,0.0,0.0,0.0,108,683.03125,0,768.0,0,980,0,99,0
16,0,0,0.0,0.0,0.0,111,683.03125,0,768.0,0,980,0,99,0
17,0,0,0.0,0.0,0.0,107,683.03125,0,768.0,0,980,0,99,0
18,0,0,0.0,0.0,0.0,751,683.03125,1,768.0,0,980,0,99,0
19,0,0,0.0,0.0,0.0,625,683.03125,0,768.0,0,980,0,99,0
20,0,0,0.0,0.0,0.0,659,683.03125,0,768.0,0,980,0,99,0
21,0,0,0.0,0.0,0.0,876,683.03125,1,768.0,1,980,0,99,0
22,0,0,0.0,0.0,0.0,870,683.03125,1,768.0,1,980,0,99,0
23,0,0,0.0,0.0,0.0,820,683.03125,1,768.0,1,980,0,99,0
24,0,0,0.0,0.0,0.0,726,683.03125,1,768.0,0,980,0,99,0
25,0,0,0.0,0.0,0.0,635,683.03125,0,768.0,0,980,0,99,0
26,0,0,0.0,0.0,0.0,770,683.03125,1,768.0,1,980,0,99,0
27,0,0,0.0,0.0,0.0,788,683.03125,1,768.0,1,980,0,99,0
28,0,0,0.0,0.0,0.0,842,683.03125,1,768.0,1,980,0,99,0
29,0,0,0.0,0.0,0.0,891,683.03125,1,768.0,1,980,0,99,0
30,0,0,0.0,0.0,0.0,847,683.03125,1,768.0,1,980,0,99,0
31,0,0,0.0,0.0,0.0,791,683.03125,1,768.0,1,980,0,99,0
32,0,0,0.0,0.0,0.0,766,683.03125,1,768.0,0,980,0,99,0